body{
}

html, body{
  height: 100%;
  background: black;
  color: white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sits on top */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: black;
    border: 5px solid rgb(255, 47, 47);
    border-radius: 16px;
    padding: 56px 56px 56px 0px;
}

/*  The Close Button */
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #aaaaaa;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  text-align: center;
}

input[type=text]{
  width: 500px;
  height: 28px;
  background-color: #181818;
  border: solid rgb(255, 47, 47);
  border-radius: 8px;
  font: 28px "monsterFriend";
  color: white;
  padding: 10px;
  outline: none;
}

.label {
  display: inline-block;
  width: 150px;
  text-align: right;
  color: white;
  font-family: "monsterFriend";
  font-size: 25px;
  padding-right: 30px;
}

.gameCompletedLabel {
  text-align: left;
  white-space: nowrap;
  padding-right: 50px;
}

.gameCompletedDiv {
  float: left;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding-bottom: 40px;
}

#btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 8px;
}

.inputGameBtn {
  height: 70px;
  border: none;
  background: #03a9f4;
  font-size: 25px;
  transition: letter-spacing 1s;
}

.inputGameBtn:hover,
.inputGameBtn:focus,
.inputGameBtn:active:focus {
  background: #e91e63;
  cursor: pointer;
  outline: none;
  letter-spacing: 10px;
}

#header {
  text-align: center;
  padding: 15px;
}

#AddGameBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px 10px 20px;
  background: red;
  transition: background 0.5s;
  font-size: 50px;
}

#AddGameBtn:hover {
  background: white;
}

.GameDataContainerStyle {
  display: block;
  float: left;
  border: 2px solid red;
  width: 300px;
  text-align: center;
  margin-left: 15px;
  border-radius: 15px;
  font-size: 20px;
}

.OptionsPanel {
  display: block;
  padding: 5px;
  border-radius: 15px;
}

.GameCompletedStyle {
  float: left;
  font-size: 20px;
  padding-left: 10px;
}

.GameCompletedStyle:hover {
  color: #25FC0D;
}

.deleteButton {
  float: right;
  color: white;
  font-size: 25px;
  padding-top: 18px;
  padding-right: 8px;
  transition: color 0.5s;
}

.deleteButton:hover {
  color: red;
}